
.line {
    width: 1280px;
    height: 304px;
    margin:  0 auto;
    //background-color: cadetblue;
    .white-line { 
        width: 920px;
        height: 1px;
        margin: -400px 150px;
        position: relative;
        align-items: center;
        background-color:white;
    }
   
}