nav {
    width: 980px;
    height: 60px;
    margin: 20px auto 0 auto;
    //background-color: salmon;
    display: flex;
    justify-content: space-between;
    //border-bottom: $white solid 2px;
    .logo {
        width: 100px;
        height: 50px;
        background-image: url(../images/logo-white.png);
        background-repeat: no-repeat;
        background-position: center ;
        //background-color: seagreen;
        color: #fff;
        font-weight: 900;
        font-size: 20px;
        align-self: center;
        font-family: gill-sans-nova, sans-serif;
    }
    .links {
        width: 542px;
        height: 42;
        //background-color: silver;
        align-self: center;
        display: flex;
    }
    a {
        text-decoration: none;
        color: #fff;
        margin: auto;
        font-family: 'Gill Sans MT', sans-serif;
        //font-weight: bolder;
        //font-size: 15px;
    }

}
